:root {
  /* Border */
  --border-color: #ccc;
  --border-radius: 4px;

  /* Text */
  --text-color-muted: #666;

  --background-color: #f5f5f5;
}

#root {
  width: 768px;
  margin: 0 auto;
  padding: 2rem;
}

.warning {
  margin: 10px 0;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 10px 15px;
  color: var(--text-color-muted);
}

/* Form Styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.form-control {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 15px;
}

/* Utils */
.text-muted {
  color: var(--text-color-muted) !important;
}